APP_NAME=ITCOM AI Prototype
OLLAMA_URL=http://ollama_proto:11434
OLLAMA_MODEL=llama3:latest
API_PORT=8000
NUM_PREDICT=1024
OLLAMA_TIMEOUT=120
OLLAMA_RETRIES=2
AUTH_USERNAME=admin
AUTH_PASSWORD=change_me
AUTH_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
AUTH_TOKEN_TTL=3600

AUTH_USERS_PATH=/app/logs/users.json

SMTP_HOST=mail.itcom.mx
SMTP_PORT=465
SMTP_USERNAME=symbiotix@itcom.mx
SMTP_PASSWORD=
SMTP_FROM_EMAIL=symbiotix@itcom.mx
SMTP_FROM_NAME=Symbiotix
SMTP_USE_TLS=true
SMTP_USE_SSL=true
