APP_NAME=ITCOM AI Prototype
OLLAMA_URL=http://ollama_proto:11434
OLLAMA_MODEL=llama3:latest
API_PORT=8000
NUM_PREDICT=1024
OLLAMA_TIMEOUT=120
OLLAMA_RETRIES=2
AUTH_USERNAME=CHANGE_ME_USERNAME
AUTH_PASSWORD=CHANGE_ME_PASSWORD
AUTH_SECRET=CHANGE_ME_LONG_RANDOM_SECRET
AUTH_TOKEN_TTL=3600
